html {
    overflow: hidden;
}

body {
    background: url(./images/stars.jpg) no-repeat;
    background-size: cover;
}

.notewrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gap: 30px; */
}

.notetype {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.d-block {
    display: block;
}

.modal-content {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cs-cards {
    padding: 20px;
}

.cs-cards .cs-cards-header {
    display: flex;
}

.infowrap {
    height: 100vh;
    overflow: auto;
    padding: 20px;
}

.checknote-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.checknote-wrap p{
    flex: 2;
}
.checknote-wrap label span {
    margin: 0 0 0 10px;
}

.eq-height {
    align-items: flex-start;
}

.card {
    margin-bottom: 0 !important;
}

.card-footer {
    padding: 15px;
}
.textarea{
    resize: none;
}
.close{
    cursor: pointer;
}
.actions{
    display: flex;
    align-items: center;
    gap: 20px;
}